@import "~rupture-sass/rupture";

$md: 1024px;

// header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 3;
//   img {
//     display: block;
//   }
// }
.bv-page {
  --padding: 14px;
  --font-size: 20px;
  --header-height: 75px;
  --viewport-height: 100vh;
  --section-height: calc(var(--viewport-height) - var(--header-height));
  --space-above: calc(var(--header-height) + var(--padding));
  --green: #486830;
  --background: #f1f3f2;
  margin: 0 auto;
  // Remove after
  // margin-top: var(--header-height);
  line-height: 1.35;
  font-size: var(--font-size);
  min-height: var(--viewport-height);
  background-color: var(--background);
  @include below($md, $orientation: landscape) {
    --font-size: 14px;
  }
  * {
    box-sizing: border-box;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }
  h1 {
    font-size: var(--font-size);
    line-height: 1.35;
    font-weight: 400;
  }
  img,
  video {
    display: block;
  }
  .page--sections {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .section {
    width: 100%;
    background: white;
  }
  image-flipper {
    position: relative;
    height: calc(var(--section-height) - 10rem);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    .image-flipper__text {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      padding: var(--padding);
    }
    .image-flipper__title {
      z-index: 2;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: var(--padding);
    }
    .image-flipper__link {
      z-index: 2;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: var(--padding);
      color: #000;
    }
    .image-flipper__content {
      width: 100%;
      height: 100%;
      background-color: var(--background);
      overflow: hidden;
      perspective: 150vw;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        margin: auto auto;
        transform-style: flat;
        backface-visibility: hidden;
        &:not(.active) {
          opacity: 0;
        }
      }
    }
  }
}

.bv-page ~ br {
  display: none;
}

footer#footer,
.c-footercopyright {
  background: white;
  position: relative;
  padding-top: 1px;
  z-index: 10;
}
