@import "~rupture-sass/rupture";

$md: 1024px;

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  img {
    display: block;
  }
}
.bv-page {
  --padding: 24px;
  --font-size: 20px;
  --viewport-height: 100dvh;
  --green: #486830;
  --background: #fff;
  margin: 0 auto;
  line-height: 1.35;
  font-size: var(--font-size);
  min-height: var(--viewport-height);
  background-color: var(--background);
  * {
    box-sizing: border-box;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }
  h1 {
    font-size: var(--font-size);
    line-height: 1.35;
    font-weight: 400;
  }
  img,
  video {
    display: block;
  }
  .page--sections {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .section {
    width: 100%;
    background: white;
  }
  .reading-text {
    font-size: 1rem;
    line-height: 27px;
    p + p {
      margin-top: 1em;
    }
  }
}

.bv-page ~ br {
  display: none;
}

footer#footer,
.c-footercopyright {
  background: white;
  position: relative;
  padding-top: 1px;
  z-index: 10;
}
